---
name: CI/CD - MAIN
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  ENV_NAME: MAIN

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
#       - name: Use Gradle packages cache
#         uses: actions/cache@v3
#         with:
#           path: |
#             ~/.gradle/caches/
#           key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
#           restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew clean build
